.fleft2 {
    float:left; 
    width: 75%;
background-color: rgb(46, 145, 179);
    height: 4000px;
}


.fright2 {
    float: right;
        background:rgb(237, 242, 245);
        height: 4000px;
        width: 25%;
    }
