.crime-reg-page h1{
  margin-top:90px;
  color:#cb4a32;
  font-weight: 200;
}
#my-form{
  max-width:700px;
  margin:0 auto;
  margin-bottom:40px;
}
#my-form .doc select{
  display: inline-block;
  width:30%;
}
#my-form .doc select:nth-child(3){
  margin:0 5%;
}
#my-form > div{
  margin:20px 0;
  border-bottom:1px solid #ccc;
  padding-bottom:20px;
}
#my-form textarea, #my-form input[type="text"]{
  width:100%;
}
#my-form input[type="text"]{
  line-height: 40px;
  height: 40px;
  border:1px solid #ccc;
  border-radius:3px;
  padding:0 10px;
}
#my-form label{
  display: block;
  margin-bottom:10px;
  font-weight: bold;
  color:black;
  font-size:16px;
}
#my-form label > div{
  margin-bottom:5px;
}
.gender-and-toc{
  display: flex;
  justify-content: space-between;
}

#my-form button{
    background-color: #cb4a32;
    color: white;
    border: 0;
    padding: 0 10px;
    width:200px;
    line-height: 40px;
    margin:0 auto;
    display:block;
    text-align: center;
}
#my-form button i{
  padding-right:20px;
}
#my-form button:hover{
  background-color:#a33622;
}
