

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 12cm;
}

.title {
    float: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
}